<%- include('../partials/header') %>

<h2>Enter New Appointment</h2>
<form action="/salons" method="POST">
    <label>Name:
    <input type="text" name="Name">
    </label><br>
    <label>Date:
      <input type="datetime-local" id="Appointment-time"
      name="meeting-time" value="2023-07-12T19:30"
      min="2023-0-07T00:00" max="2024-06-14T00:00">
    </label><br>
    <label>AppointmentType:
    <select name="AppointmentType">
      <option value="Haircut">Haircut</option>
      <option value="Hair-Color">Hair-Color</option>
      <option value="Hair-Extentions">Hair-Extentions</option>
      <option value="Hair-Straightening">Hair-Straightening</option>
      <option value="Hair-Permimg">Hair-Permimg</option>
      <option value="Styling">Styling</option>
    </select>
    </label><br>
    <label>Correct Information:
    <input type="checkbox" name="CorrectInformation" checked>
    </label><br>
    <input type="submit" value="Add Appointment">
  

  <p><%= errorMsg %></p>

  <%- include('../partials/footer') %>