* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #096f1c;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  background-color: rgb(244, 249, 171);
  grid-template-areas: 
    "nav"
    "main"
  
}

body > nav {
  grid-area: nav;
  background-color: #b4f3ae;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
/* 
nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
} */

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c44c4c;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #0c752f;
}

nav > a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #096f1c;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #bb75fb;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

.login {
  display: flex;
  justify-content: right;
  align-items: right;
  height: 34px;
}

.login img {
  height: 20px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

