body {
  padding: 50px;
  font: 2.5vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(224, 172, 231);
}

a {
  color: #0012af;
}

.login {
  display: flex;
  justify-content: right;
  align-items: right;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

/* .brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px; */
/* } */
